
/*animation-h2-text*/
.text-content-container h2{
    animation: animaFundoH2 2s  ease-in-out infinite alternate;
}

@keyframes animaFundoH2{
    0%{
        filter: contrast(0.5);
        filter: drop-shadow(40px 100px 50px  #9a53e7);
        transform: translate3d(1,1,1);
    }
    100%{ 
        filter: contrast(0.5);
        filter: drop-shadow(-35px -35px 100px #1835c5);
        transform: translate3d(0,0,0);
    }
}
    
/*animation-bg*/
body {
    animation: animaFundoBg 60s ease-in-out infinite alternate;
    background: url(/assets/imgs/bg-tags.png); 
    background-color: #3e3c3c;
}

@keyframes animaFundoBg{
    0%{ 
        background-repeat: repeat-x;
        background-position: 500%;
    }
    100%{
        background-repeat: repeat-x;
        background-position: 1000%;
    }
}

.logo-header img{
    animation: animaLogoimg 1s ease-in-out infinite alternate;

}
@keyframes animaLogoimg{
    0%{ 
        transform: perspective(100px) rotateY(5deg);
    }
    100%{
        transform: perspective(100px) rotateY(-5deg);
    }
    
}