@font-face{
    font-family: 'conquest';
    src: url(/assets/fonts/Conquest.ttf);
}

@font-face {
    font-family: 'Nuvel';
    src: url(/assets/fonts/Nuvel.ttf);
}

@font-face {
    font-family: 'pix';
    src: url(/assets/fonts/VCR_OSD_MONO_1.001.ttf);
}